<div class="c-book-buy-payment-rfi-inline">
	<div ng-if="process.success" ng-cloak="">
		<div ng-show="gate.isReady && !gate.isPaying && !gate['3ds'].enabled && !gate.isWait" ng-cloak="" class="p-frame-box">
			<form target="cBookBuyPaymentRfiInline-frame" method="{{gate.method}}" action="{{gate.url}}" form-paygate-frame="">
				<input type="hidden" ng-repeat="(name, value) in gate.params" name="{{name}}" ng-value="value" />
			</form>
			<iframe
					class="p-frame"
					width="100%" height="100%" name="cBookBuyPaymentRfiInline-frame" id="cBookBuyPaymentRfiInline-frame"
					frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" scrolling="no"
					iframe-autoresize-height="" iframe-origins="gate.origins" iframe-communication=""
					iframe-autoresize-height-default="400"
					iframe-rfi-payment-ready="gate.ready()" iframe-rfi-payment-3ds-redirect="gate['3ds'].process($data)"
					iframe-rfi-payment-abort="gate.abort()"
					iframe-rfi-payment-unready="gate.unready()"
					iframe-rfi-payment-success="gate.success()" iframe-rfi-payment-error="gate.error()"
					></iframe>
		</div>
		<div ng-show="!gate.isReady || gate.isPaying || gate['3ds'].enabled || gate.isWait" ng-cloak="" class="p-loading-box"></div>

		<div class="p-3ds-redirect-box">
			<form method="{{gate['3ds'].method}}" action="{{gate['3ds'].action}}" form-3ds-redirect="" ng-if="gate['3ds'].enabled">
				<input type="hidden" ng-repeat="(name, value) in gate['3ds'].data" name="{{name}}" ng-value="value" />
			</form>
		</div>
	</div>
</div>